<main class="main">
  <figure>
    <img
      src="../../../../assets/img/photo-1509389928833-fe62aef36deb.jpeg"
      class="img-fluid header-page"
      alt="Head photo"
    />
  </figure>
  <div class="page-content">
    <div class="container">
      <h1 class="display-5 page-title">Case Study</h1>
      <p class="lead">
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit..."
      </p>
    </div>
    <hr />
    <div class="container">
      <section>
        <div class="gallery">
          <figure>
            <img src="../../../../assets/img/drone/Solar-02.jpg" />

            <figcaption>
              <h3>Embassy 1</h3>
              <div class="additional">
                <p>Learn how to write leads in the Phrygian mode.</p>
                <a href="#">More Info</a>
              </div>
            </figcaption>
          </figure>
          <figure>
            <img src="../../../../assets/img/drone/Solar-07.jpg" />

            <figcaption>
              <h3>Embassy 2</h3>
              <div class="additional">
                <p>Learn how to write leads in the Phrygian mode.</p>
                <a href="#">More Info</a>
              </div>
            </figcaption>
          </figure>
          <figure>
            <img src="../../../../assets/img/drone/Solar-12.jpg" />

            <figcaption>
              <h3>Embassy 3</h3>
              <div class="additional">
                <p>Learn how to write leads in the Phrygian mode.</p>
                <a href="#">More Info</a>
              </div>
            </figcaption>
          </figure>
          <figure>
            <img src="../../../../assets/img/drone/Solar-18.jpg" />

            <figcaption>
              <h3>Embassy 4</h3>
              <div class="additional">
                <p>Learn how to write leads in the Phrygian mode.</p>
                <a href="#">More Info</a>
              </div>
            </figcaption>
          </figure>
        </div>
      </section>
    </div>
  </div>
</main>
