<div class="row justify-content-center">
  <div class="col-sm-12 text-center">
    <a href="#" routerLinkActive="active"
      ><img src="../../assets/img/logo/logo-0.png"
    /></a>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="feature">
          <h3>Pages</h3>
          <hr class="col-socket" />
          <div class="foot-link"><a href="#">Home</a></div>
          <div class="foot-link"><a href="#">For Home Owners</a></div>
          <div class="foot-link"><a href="#">For Business</a></div>
          <div class="foot-link"><a href="#">About</a></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="feature">
          <h3>Latest Articles</h3>
          <hr class="col-socket" />
          <div class="foot-link"><a href="#">TBD</a></div>
          <div class="foot-link"><a href="#">TBD</a></div>
          <div class="foot-link"><a href="#">TBD</a></div>
          <div class="foot-link"><a href="#">TBD</a></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="feature">
          <h3>Social Media</h3>
          <hr class="col-socket" />
          <a href="#" target="_blank"
            ><i class="fab fa-facebook-square fa-3x"></i
          ></a>
          <a href="#" target="_blank"
            ><i class="fab fa-twitter-square fa-3x"></i
          ></a>
          <a href="#" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
          <h3>Contact Info</h3>
          <hr class="col-socket" />
          <p>+61 2 6108 36 09<br />info@vtaraenergygroup.com</p>
        </div>
      </div>
    </div>
  </div>

  <hr class="socket" />
  &copy; VTara Solar
</div>
