<nav
  class="navbar navbar-expand-sm navbar-dark bg-success fixed-top"
  id="topNav"
>
  <div id="barGroup" class="container-fluid">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="mailto:info@vtaraenergygroup.com"
          ><span id="email">{{ solarEmail }}</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tel:{{ solarPhone }}"
          ><span id="phone">{{ solarPhone }}</span></a
        >
      </li>
    </ul>
  </div>
</nav>
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" id="mainNav">
  <a href="#" class="navbar-brand">
    <img src="../../assets/img/logo/logo-1.png" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarResponsive"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/forHomeOwners" class="nav-link">{{ forHome }}</a>
      </li>
      <li class="nav-item">
        <a routerLink="/forBusiness" class="nav-link">{{ forBusiness }}</a>
      </li>
      <li class="nav-item">
        <a routerLink="/about" class="nav-link">{{ about }}</a>
      </li>
    </ul>
  </div>
</nav>
<!-- End Navigation -->
