<div class="landing">
  <div class="home-wrap">
    <div class="home-inner"></div>
  </div>
</div>

<div class="caption text-center">
  <h1>{{ landingPage?.fields.mainCaption }}</h1>
  <h3>{{ phraseCaption }}</h3>
  <a routerLink="/about-contact-us" class="btn btn-outline-light btn-lg">{{
    buttonCaptionText
  }}</a>
</div>

<div class="col-12 narrow text-center">
  <h3>Featured Projects</h3>

  <a href="#" class="btn btn-secondary btn-md" target="_blank">TBD</a>
</div>

<div class="jumbotron">
  <div class="narrow text-center">
    <div class="col-12">
      <h3 class="heading">{{ whatWeDoHead }}</h3>
      <div class="heading-underline"></div>
    </div>

    <div class="row text-center">
      <div class="col-md-4">
        <div class="feature">
          <i class="fas fa-home fa-4x"></i>
          <h3>RESIDENTIAL SMART SYSTEMS</h3>
          <p>
            Smart PV systems for homes usually varies on size from 4kW to 30kW.
            Residential services include off-grid PV systems, hybrid systems and
            peer-to-peer trading.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="feature">
          <i class="fas fa-building fa-4x"></i>
          <h3>COMMERCIAL SOLAR PV</h3>
          <p>
            It can be as small as 10kW or as large as 1MW. Ideal solution to
            wineries, warehouses, manufacturing, retail & wholesale, healthcare
            & community,government, councils, NGO’S, food & beverage, education,
            transport & logistics, agriculture,child care, aged care,
            construction, mining & engineering and body corporates. We also
            offer power factor correction, O&M, energy procurement and brokering
            for commercial customers.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="feature">
          <i class="fas fa-warehouse fa-4x"></i>
          <h3>UTILITY SCALE SOLAR PV</h3>
          <p class="justify-content-end">
            Typically a solar farm which produces solar electricity and feeds it
            into the network. Through a Purchase Power Agreement, our customers
            have access to a fixed-priced rate and avoid higher costs during
            peak demand periods.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed-background">
  <div class="row dark text-center">
    <div class="col-12">
      <h3 class="heading">Social Entrepreneurship</h3>
      <div class="heading-underline"></div>
    </div>

    <div class="col-md-4">
      <h3>TBD</h3>
      <div class="feature">
        <i class="fas fa-code fa-3x"></i>
      </div>
      <p class="lead">TBD</p>
    </div>

    <div class="col-md-4">
      <h3>TBD</h3>
      <div class="feature">
        <i class="fas fa-code fa-3x"></i>
      </div>
      <p class="lead">TBD</p>
    </div>

    <div class="col-md-4">
      <h3>TBD</h3>
      <div class="feature">
        <i class="fas fa-code fa-3x"></i>
      </div>
      <p class="lead">TBD</p>
    </div>
  </div>
  <div class="fixed-wrap">
    <div class="fixed"></div>
  </div>
</div>

<div class="jumbotron">
  <div class="col-12 text-center">
    <h3>Our Clients</h3>
    <div class="heading-underline"></div>
    <div class="row">
      <div class="col-md-6 clients">
        <div class="row">
          <div class="col-md-4">
            <img src="../../assets/img/clients/client1.png" />
          </div>
          <div class="col-md-8">
            <blockquote>
              <i class="fas fa-quote-left"></i>
              TBD
              <hr class="clients-hr" />
              <cite>&#8212; TDB</cite>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-6 clients">
        <div class="row">
          <div class="col-md-4">
            <img src="../../assets/img/clients/client2.png" />
          </div>
          <div class="col-md-8">
            <blockquote>
              <i class="fas fa-quote-left"></i>
              TBD
              <hr class="clients-hr" />
              <cite>&#8212; TDB</cite>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
