<div class="landing">
  <div class="home-wrap">
    <div class="home-inner"></div>
  </div>
</div>

<div class="caption text-center">
  <h1>{{ landingPage?.fields.mainCaption }}</h1>
  <h3>{{ phraseCaption }}</h3>
  <a routerLink="/about-contact-us" class="btn btn-outline-light btn-lg">{{
    buttonCaptionText
  }}</a>
</div>

<div class="col-12 narrow text-center">
  <h3>CEC SOLAR GUIDE</h3>
  <mat-form-field appearance="standard">
    <input matInput placeholder="NAME" [formControl]="name" required />
    <mat-error *ngIf="name.invalid">{{ getNameErrorMessage() }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard" color="green">
    <input matInput placeholder="EMAIL" [formControl]="email" required />
    <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-select placeholder="CATEGORY">
      <mat-option value="Cat1">Category 1</mat-option>
      <mat-option value="Cat2">Category 2</mat-option>
      <mat-option value="Cat3">Category 3</mat-option>
      <mat-option value="Cat4">Category 4</mat-option>
      <mat-option value="Cat5">Category 5</mat-option>
      <mat-option value="Cat6">Category 6</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-fab color="warn">SEND</button>
</div>

<div class="jumbotron">
  <div class="narrow text-center">
    <div class="col-12">
      <h3 class="heading">{{ whatWeDoHead }}</h3>
      <div class="heading-underline"></div>
    </div>

    <div class="row text-center">
      <div class="col-md-4">
        <div class="feature">
          <i class="fas fa-home fa-4x"></i>
          <h3>RESIDENTIAL SMART SYSTEMS</h3>
          <p>
            <!-- Smart PV systems for homes usually varies on size from 4kW to 30kW.
            Residential services include off-grid PV systems, hybrid systems and
            peer-to-peer trading. -->
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="feature">
          <i class="fas fa-building fa-4x"></i>
          <h3>COMMERCIAL SOLAR PV</h3>
          <p>
            <!-- It can be as small as 10kW or as large as 1MW. Ideal solution to
            wineries, warehouses, manufacturing, retail & wholesale, healthcare
            & community,government, councils, NGO’S, food & beverage, education,
            transport & logistics, agriculture,child care, aged care,
            construction, mining & engineering and body corporates. We also
            offer power factor correction, O&M, energy procurement and brokering
            for commercial customers. -->
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="feature">
          <i class="fas fa-warehouse fa-4x"></i>
          <h3>UTILITY SCALE SOLAR PV</h3>
          <p class="justify-content-end">
            <!-- Typically a solar farm which produces solar electricity and feeds it
            into the network. Through a Purchase Power Agreement, our customers
            have access to a fixed-priced rate and avoid higher costs during
            peak demand periods. -->
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12 narrow text-center">
  <h3>MEMBER & ACCREDITATIONS</h3>
</div>

<div class="fixed-background">
  <div class="row dark text-center">
    <div class="col-12">
      <h3 class="heading">comercial & industrial</h3>
      <div class="heading-underline"></div>
    </div>

    <div class="col-md-6">
      <h3>TBD</h3>
      <div class="feature">
        <i class="fas fa-code fa-3x"></i>
      </div>
      <p class="lead">TBD</p>
    </div>

    <div class="col-md-6">
      <h3>TBD</h3>
      <div class="feature">
        <i class="fas fa-code fa-3x"></i>
      </div>
      <p class="lead">TBD</p>
    </div>
  </div>
  <div class="fixed-wrap">
    <div class="fixed"></div>
  </div>
</div>

<div class="col-12 narrow text-center">
  <h3>RESIDENCIAL</h3>
</div>

<div class="jumbotron">
  <div class="col-12 text-center">
    <h3>Our Clients</h3>
    <div class="heading-underline"></div>
    <div class="row">
      <div class="col-md-6 clients">
        <div class="row">
          <div class="col-md-4">
            <img src="../../assets/img/clients/client1.png" />
          </div>
          <div class="col-md-8">
            <blockquote>
              <i class="fas fa-quote-left"></i>
              TBD
              <hr class="clients-hr" />
              <cite>&#8212; TDB</cite>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-6 clients">
        <div class="row">
          <div class="col-md-4">
            <img src="../../assets/img/clients/client2.png" />
          </div>
          <div class="col-md-8">
            <blockquote>
              <i class="fas fa-quote-left"></i>
              TBD
              <hr class="clients-hr" />
              <cite>&#8212; TDB</cite>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
