@import url('https://fonts.googleapis.com/css?family=Lato:400,700')
$font-stack: 'Lato', sans-serif
$body-color: #505962
$dark-green: #1e651f
$light-green: #289c32
$yellow: #cfcb48
$orange: #c99b30

body 
    overflow-x: hidden
    font-family: 'Lato', sans-serif
    color: $body-color
.navbar 
    text-transform: uppercase
    font-weight: 700
    font-size: 0.9rem
    letter-spacing: 0.1rem
    background: rgba(0, 0, 0, 0.6) !important
.navbar-brand img 
    height: 2rem
.navbar-nav li 
    padding-right: 0.7rem
.navbar-dark .navbar-nav .nav-link 
    color: $yellow
    padding-top: 0.8rem
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover 
    color: $light-green
.caption 
    width: 100%
    max-width: 100%
    position: absolute
    top: 38%
    color: white
    text-transform: uppercase
.caption h1 
    font-size: 3.8rem
    font-weight: 700
    letter-spacing: 0.4rem
    text-shadow: 0.1rem 0.1rem 0.8rem black
.caption h3 
    font-size: 2rem
    font-weight: 700
    padding-bottom: 2.6rem 
.btn-lg 
    border-width: medium
    border-radius: 0
    padding: 0.6rem 1.3rem
    font-size: 1.1rem
