<div class="landing">
  <div class="home-wrap">
    <div class="home-inner"></div>
  </div>
</div>
<div class="caption text-center">
  <h1>{{ mainCaption }}</h1>
  <h3>{{ phraseCaption }}</h3>
  <a href="#" class="btn btn-outline-light btn-lg">{{ buttonCaptionText }}</a>
</div>
<div class="col-12 narrow text-center">
  <h1>{{ whatWeDoHead }}</h1>
  <p class="lead">{{ whatWeDoParagraph }}</p>
  <a href="#" class="btn btn-secondary btn-md">TBD</a>
</div>
<div class="jumbotron">
  <div class="narrow">
    <div class="col-12">
      <h3 class="heading">Social Entrepreunership</h3>
      <div class="heading-underline"></div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="feature">
          <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
